@import "bootstrap.min";
/* universal */

html {
  overflow-y: scroll;
}

body {
/*  padding-top: 60px; */
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 0px; /* was 30 */
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
/*  color: #fff;*/
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
 /* color: #222;*/
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
			 font-url('glyphicons-halflings-regular.woff') format('woff'), 
			 font-url('glyphicons-halflings-regular.ttf') format('truetype'), 
			 font-url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/* isotope styles  */
/* ---- isotope ---- */

#isotope {
  max-width: 100%; /* 1200px */
}

/* clear fix */
#isotope:after {
  content: '';
  display: block;
  clear: both;
}
.nav { font-size: 20px; }

.gone { display: none }
/* ---- .story ---- */

#isotope > .story {
  float: left;
  width: 12%; /* was 200px */
  height: 200px;
  background: #F7F6F2;
 /* border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);*/
  overflow: hidden;
	margin-right: 20px;
	margin-bottom: 20px;
}

#isotope > .story.width2 { width: 24%; }
#isotope > .story.height2 { height: 400px; }
#isotope > .story.hover { 
	width: 38%; 
	cursor: pointer;
}

#isotope > .story h2 { 
	background-color: #C0BCBB; 
	font-size: 50px;
	text-align: left;
	vertical-align: bottom;
	color: black;
	margin: 0;
	padding-top: 10px;
	padding-left: 20px;
	height: 75px;
}
#isotope > div.story.hover div.preview-on-hover img {
  vertical-align: 0%;	
	border: 1px;
}
/* provides the name on hover */
#isotope > .story.hover a.hovertext { position: absolute; left: 0; bottom:0; width: 100%; text-decoration: none !important; text-align: right; }
#isotope > .story.hover a.hovertext:after { content: attr(title); position: absolute; left: 0; bottom: 0; padding: 0.5em 20px; width: 100%; 
	background: rgba(0,0,0,0.8); text-decoration: none !important; color: #fff; opacity: 0; 
	-webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; -ms-transition: 0.5s; font-size: 20px; } 
#isotope > .story.hover a.hovertext:hover:after, 
#isotope > .story.hover a.hovertext:focus:after { opacity: 1.0; }

/* gigante styles */
#isotope > .story.gigante {
  width: 100%;
  height: 1390px;
/*  background: #D38847; */
}

#isotope > .story.gigante img{
  float:right;	
/*  margin-right: 20px;*/
}

#isotope > .story div.story-content p.preview {
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 5px;
}

#isotope > .story div.story-content p.category {
	clear: both;
	font-size: 32px;
	padding-left: 33%;
	color: white;
	background-color: black;
	margin-bottom: 0px;
}

.carousel {
	clear: both;
	height: 975px;
}

.carousel-inner {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}

ol.carousel-indicators {
  position: relative;
  left: 50%;
  top: 0;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

ol.carousel-indicators li{
	background-color: #F7F6F2;    
}

ol.carousel-indicators li.active {
	background-color: #000;    
}
.item {   
		margin-top: 10px;
}

#notice {
  color: green;
}

/* Rails scaffold style compatibility */
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  width: inherit;
}

.field_with_errors {
  @extend .has-error;
  display: inherit;
  padding: inherit;
	background-color: inherit;
}

#error_explanation h2 {
	@extend .alert;
	@extend .alert-danger;
}

/* log in page */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-items > .active > a,.nav-items > .active,.nav-items > li > a:hover {
	text-decoration: none;
	border-bottom-style: solid;
}
