@import "bootstrap.min";
/* universal */

html {
  overflow-y: scroll;
}

body {
/*  padding-top: 60px; */

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 0px; /* was 30 */
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
/*  color: #fff;*/
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
 /* color: #222;*/
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
			 font-url('glyphicons-halflings-regular.woff') format('woff'), 
			 font-url('glyphicons-halflings-regular.ttf') format('truetype'), 
			 font-url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/* isotope styles  */
/* ---- isotope ---- */

#isotope {
  max-width: 100%; /* 1200px */
margin-left: 100px;
margin-right: 100px;
}

/* clear fix */
#isotope:after {
  content: '';
  display: block;
  clear: both;
}
.nav { font-size: 20px; }

.gone { display: none }
/* ---- .story ---- */

#isotope > .story {
  width: 12%; /* was 200px */
  height: 200px;
  background: #F7F6F2;
 /* border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);*/
  overflow: hidden;
	margin-right: 14%;
	margin-bottom: 20px;
}

/*#isotope > .story:after{content:''; width:60%; height:15px; background:gray; position:absolute; bottom:-5px;}*/

#isotope > .story.width2 { width: 20%; }
#isotope > .story.height2 { height: 400px; }
#isotope > .story.hover { 
	width: 20%; 
	z-index: 10000;
	cursor: pointer;
}

#isotope > .story h2 { 
	background-color: #C0BCBB; 
	font-size: 42px;
	text-align: left;
	vertical-align: top;
	color: black;
	margin: 0;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	min-height: 75px;
	overflow: hidden;
}
div.preview-on-hover img {
	border: 1px;
}
/* provides the name on hover */
#isotope > .story.hover a.hovertext { position: absolute; left: 0; bottom:0; width: 100%; text-decoration: none !important; text-align: left; }
#isotope > .story.hover a.hovertext:after { content: attr(title); position: absolute; left: 0; bottom: 0; padding: 0.5em 20px; width: 100%; 
	background: rgba(0,0,0,0.8); text-decoration: none !important; color: #fff; opacity: 0; 
	-webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; -ms-transition: 0.5s; font-size: 20px; } 
#isotope > .story.hover a.hovertext:hover:after, 
#isotope > .story.hover a.hovertext:focus:after { opacity: 1.0; }

#isotope > div.story div.preview-on-hover img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: grayscale(100%);
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */	
 	-moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
}

#isotope > div.story.hover div.preview-on-hover img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
	 	-moz-filter: none;
	  -ms-filter: none;
		filter: none;
}

/* gigante styles */
#isotope > .story.gigante {
  width: 90%;
	height: 1055px;
}

#isotope > .story.gigante.promote {
  width: 90%;
	height: 700px;
}

#isotope > .story.gigante img{
  float:right;	
  margin-left: 20px;
/*  margin-right: 20px;*/
}
#isotope > .story div.story-content {
	height: 100%;
}
#isotope > .story div.story-content div.preview-container {
	height: 380px;
	overflow: hidden;
}
#isotope > .story div.story-content div.preview {
	padding-left: 40px;
	padding-right: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	padding-top: 10px;
	overflow: hidden;
}

#isotope > .story div.story-content {
	background-color: #E5E4E0;
}

div.category {
	clear: both;
	font-size: 26px;
	text-align: left;
	padding-left: 50px;
	color: #F7F6F2;
	background-color: black;
	margin-bottom: 0px;
	height: 50px;
}

div.category ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 5px;
}

div.category ol li { display: inline; }

div.category ol li a { 
	text-decoration: none; 
	padding: .2em 1em;
}
div.category ol a{
	color: #F7F6F2;
	font-size: 18px;
}

div.category ol a:hover, div.category ol a:focus{
	color: white;
}

div.carousel {
	clear: both;
}

div.carousel.inner {
	clear:both;	
	height: 100%;
}

.carousel-inner {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

div.material {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	height: 550px;
	overflow-y: auto;
}

ol.carousel-indicators {
  position: relative;
  left: 50%;
  top: 0;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}


ol.carousel-indicators li{
	background-color: #F7F6F2;    
}

ol.carousel-indicators li.active {
	background-color: #000;    
}
.item {   
		margin-top: 10px;
}

#notice {
  color: green;
}

/* Rails scaffold style compatibility */
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  width: inherit;
}

.field_with_errors {
  @extend .has-error;
  display: inherit;
  padding: inherit;
	background-color: inherit;
}

#error_explanation h2 {
	@extend .alert;
	@extend .alert-danger;
}

/* log in page */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-items > .active > a,.nav-items > .active,.nav-items > li > a:hover {
	text-decoration: none;
	border-bottom-style: solid;
}

div.secondary {
	color: #F8F8F8;
	background-color: black;
}

#navbarCollapse {
	height: 56px !important;
}

#navbarCollapse ul li {
	font-size: 16px;
}

#subnavbar {
	text-align: left;
}
#subnavbar ul a{
	color: #F7F6F2;
	font-size: 15px;
	height: 56px;
}

#subnavbar ul a:hover, #subnavbar ul a:focus{
	color: white;
}
#subnavbar li.active a {
	background-color: black;
}

img.gallery {
	  float: none !important;
	  display: inline !important; 
	  max-width: 200px !important;
	  padding: 5px;
	  margin: 10px 0 5px 0;
	  border: 1px solid #ccc; 
}
.carousel-inner img {
	max-width: 100%; 
/*	height: 600px; */
	clear: both;
	float: none !important;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
		width: 100px;
}

span.exit {
	position: absolute;
	right: 10px;
	top: 10px;
	vertical-align: top;	
	cursor: pointer;
}

div.preview-on-hover figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 50px;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 100;
	width: 100%;	
	padding-left: 10px;
	text-align: left;
	}
	
div.preview-on-hover figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	padding-right: 20px;
	top: 0px;
	vertical-align: middle;
}

div.preview-on-hover:hover figcaption {
	opacity: 1;
}

div.logo-block {
	height: 123px;
}

span.social-media {
	margin-top: 40px;
	margin-right: 40px;
}

span.social-media i {
	margin-right: 10px;
}

span.category-name {
	float:right; 
	margin-right: 10px
}
